[Unit]
Description=InkyPi App
After=network-online.target
Wants=network-online.target

[Service]
User=root
RuntimeDirectory=inkypi
WorkingDirectory=/run/inkypi
ExecStart=/usr/local/bin/inkypi
ExecStop=/usr/local/inkypi/install/shutdown_display.sh
Restart=on-failure
RestartSec=60
KillSignal=SIGINT
StandardOutput=journal
StandardError=journal
CPUQuota=50%
MemoryMax=200M
TimeoutStopSec=30

[Install]
WantedBy=multi-user.target
